#Java
*.class
target
bin
2.5


# Package Files #
*.jar
*.war
*.ear
.idea

#Gradle build output
build/
classes/
!gradle-wrapper.jar
.gradle

#Eclipse files
.classpath
.project
.settings

#Idea files
*.iml
